<div class="card" >
    <div class="toolbar bgc-green-700 tc-white-1">

        <!--Toolbar title-->
        <span class="toolbar__label fs-title">Inscription</span>

    </div>
</div>


<div flex-item>
        <div class="mt ml+ mr+">
            <div flex-item >

                <div flex-container="row">

                    <div flex-item="3" flex-item-order="1" class="card m+ p+">
                        <lx-text-field label="Nom" fixed-label="true">
                            <input type="text" ng-model="nom">
                        </lx-text-field>

                        <lx-text-field label="Prenom" fixed-label="true">
                            <input type="text" ng-model="prenom">
                        </lx-text-field>

                        <lx-text-field label="Universite" fixed-label="true">
                            <input type="text" ng-model="universite">
                        </lx-text-field>

                        <lx-text-field label="Promotion" fixed-label="true">
                            <input type="text" ng-model="promotion">
                        </lx-text-field>
                    </div>

                    <div flex-item="3" flex-item-order="2" class="card m+ p+">
                        <lx-text-field label="Login" fixed-label="true">
                            <input type="text" ng-model="login">
                        </lx-text-field>

                        <lx-text-field label="Mot de passe" fixed-label="true">
                            <input type="text" ng-model="motDePasse">
                        </lx-text-field>

                        <lx-text-field label="Confirmation mot de passe" fixed-label="true">
                            <input type="text" ng-model="confirmationMotDePasse">
                        </lx-text-field>

                        <lx-text-field label="Adresse mail" fixed-label="true">
                            <input type="text" ng-model="mail">
                        </lx-text-field>
                    </div>

                </div>

                <button class="btn btn--m btn--orange btn--raised  m+" lx-ripple>Envoyer</button>


            </div>
        </div>


</div>


