<div class="card" >
    <div class="toolbar bgc-green-700 tc-white-1">

        <!--Toolbar title-->
        <span class="toolbar__label fs-title">C'est partit !!!</span>

    </div>
</div>




<div class="p+">
    <div class="card">

        <div class="p+">

            <div class="paragraph fs-body-1 mt+">
                <strong class="fs-headline display-block">{{question}}</strong>
            </div>
        </div>

        <div class="card__actions" ng-repeat="reponse in reponses">
            <div class="checkbox mt+">
                <input type="checkbox" id="checkbox_{{$index}}" class="checkbox__input">
                <label for="checkbox_{{$index}}" class="checkbox__label">{{reponse}}</label>
            </div>
        </div>
        <button class="btn btn--m btn--orange btn--raised m++" ng-click="questionSuivante()" lx-ripple>Suivant</button>

    </div>
</div>